<div class="section  fields">
<div class="row" style="margin-bottom: 22px;">
 <div class="col-md-11">
    <label for="mobile_phone" class="field prepend-icon">
           <%= e.text_field :name,  class: "gui-input" , placeholder: "Enter City Name " %>
      <label for="mobile_phone" class="field-icon">
        <i class="fa fa-mobile-phone"></i>
      </label>
    </label>

                   
                    <!-- .section-divider -->
     
   </div>   
 
  <!-- end section -->
<div class="col-md-1">
   <%= link_to_remove_fields_1 '<i class = "glyphicon glyphicon-trash"></i>'.html_safe, e, class: "icon"%>

  </div>
 
 </div> 
  

</div>  