<%= form_for(@dialer_price) do |f| %>
  <% if @dialer_price.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dialer_price.errors.count, "error") %> prohibited this dialer_price from being saved:</h2>

      <ul>
      <% @dialer_price.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
